Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Dance
Flask-Swagger-UI
Werkzeug==3.0.1
psycopg2-binary==2.9.9
APScheduler==3.10.4
deepdiff
authlib==1.3.0
requests==2.31.0
python-dotenv==1.0.1
oauthlib
msal==1.26.0
pytest
gunicorn
flask_migrate==4.0.5
flask-wtf==1.2.1
flask-talisman==1.1.0
itsdangerous==2.1.2
cryptography==42.0.5
bcrypt